<div id="menu-holder">

    <nav id="mainmenu" class="nav">
      <ul id="menu">
        <% for (const [menu, link] of Object.entries(mainMenu(user))) {%>
        <li><a href="<%= link %>"><%= menu %></a></li>
        <% } %>
      </ul>
    </nav>

    <nav id="loginmenu" class="nav">
      <ul>
        <% if (user) { %>
          <li><a href="/user/logout"><%= 'Log out' %> </a></li>
          <li class="role" style="font-weight: bold;"><%= user.user_name %>, <%= user.user_role %></li>
            <% if(user.user_role!='admin' && course) { %>
              <li style="font-weight: bold;">Kurzus: <%= course.courseName %></li>
            <% } %>
          <% } else { %>
          <li><a href="/user/login"><%= 'Log in' %></a></li>     
        <% } %>  
      </ul>
    </nav>
  </div> 