<div style="display: flex; justify-content: flex-end">
    <div>
        <a href="/teacher/addNewChapter/<%= courseID %>">Új fejezet hozzáadása</a>
    </div>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <div>
    <ol>
    <% for(let i=0; i<chapters.length; i++){ %>
        <li>
        <a href="/teacher/chapter/<%= chapters[i].chapter_id %>"><%= chapters[i].chapter_name %></a>
        </li>

        <!--
        <ol style="list-style-position: inside; list-style-type: decimal;">
        <% for(let j=0; j<chapters[i].lessons.length; j++){ %>
            <li>
                <span style="font-weight: bold;"><%= chapters[i].lessons[j].lesson_name %></span>
                <p>
                    <a href="/teacher/tests/<%= chapters[i].lessons[j].lesson_id %>">Teszt feladatsorok</a>
                </p>
            </li>
        <% } %>
        </ol>
        -->
    <% } %>
    </ol>
    </div>
</div>