<div style="display: flex; justify-content: flex-end">
    <div>
        <a href="/teacher/addNewLesson/<%= chapterID %>">Új lecke hozzáadása</a>
    </div>
</div>


<div style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
    <h3>A <%= chapterName %> című fejezethez tartozó leckék</h3>
        <ol style="list-style-position: inside; list-style-type: decimal;">
        <% for(let j=0; j<lessons.length; j++){ %>
            <li>
                <a href="/teacher/lesson/<%= lessons[j].lesson_id %>" style="font-weight: bold;"><%= lessons[j].lesson_name %></a>
                <p>
                    <a href="/teacher/tests/<%= lessons[j].lesson_id %>">Teszt feladatsorok</a>
                </p>
            </li>
        <% } %>
        </ol>
</div>