<form method="POST" id="form" 
<% if(isTest) { %>
    action="/learn/test/<%= scheduledTestID %>/<%= exercise.exercise_id %>"
<% } else { %>
    action="/learn/exercise/<%= lessonID %>/<%= exercisePos %>"
<% } %>
>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <!-- exercise's text -->
        <div>
            <div>
                <p style="font-weight: bold;"><%= exercise.exercise_text %></p>
            </div>
            <div>
            
        </div>
        <!-- answers -->
        <div style="display: flex; flex-direction: row;">
            <% for(let i=0; i<answers.length; i++){ %>
            <div style="margin-left: 20px; border: solid gray 1px; background-color: lightcyan;">
                <input type="checkbox" name="answer" value="<%= answers[i].answer_id %>">
                <div>
                <img style="width: 180px; height: 130px;" src="data:image/jpeg;base64, <%= answers[i].image_object.toString('base64') %>" alt="<%= answers[i].image_text %>">
                </div>
            </div>
            <% } %>
        </div>
        <div>
            <button id="checkButton">Küldés</button>
        </div>
    </div>
</form>

<script>
    const checkButton = document.getElementById("checkButton");
    const form = document.getElementById("form");
    checkButton.addEventListener('click', function(e){
        e.preventDefault();
        const answers = document.getElementsByName("answer");
        let checked = 0;
        for(answer of answers){
            if(answer.checked){
                checked++;
            }
        }
        if(checked<2){
            alert("Legalább két választ meg kell jelölni!");
            return;
        }
        else{
            form.submit();
        }
    });
</script>