<style>
    .container {
        width: 80%; /* Példa: A konténer szélessége 80% */
        margin: 25px auto;
    }
    
    table {
        width: 30%;
        border-collapse: collapse;
        margin: 25px auto; 
        font-size: 18px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    
    table th, table td {
        padding: 12px 15px;
        text-align: center; /* Szöveg középre igazítása */
        border-bottom: 1px solid #dddddd;
        vertical-align: middle;
    }
    
    table th {
        background-color: darkcyan;
        color: #ffffff;
    }
    
    table tr:nth-child(even) {
        background-color: #f3f3f3;
    }
    
    table tr:hover {
        background-color: #f1f1f1;
    }
    
    a {
        color: darkcyan;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }
</style>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <h3><%= scheduled.test_name %> feladatsor</h3>
    <h3><%= scheduled.class_name %> osztály</h3>

    <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
        <div>  
            <canvas id="chart" style="width:100%;max-width:700px"></canvas>
        </div>
        
        <div style="margin-left: 150px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div>
                <h4>Összes pontszám: <%= maxScore %></h4>
            </div>
            <div>
                <h4>Átlag pontszám: <%= achievedScore %></h4>
            </div>
            <div>
                <h4>Eredmény: <span id="result"><%= percentage %></span>%</h4>
            </div>
        </div>
    </div>
    
    <div>
        <h4>A feladatsort megoldották:</h4>
    </div>
    <div class="container">
        <div class="test-results">
            <table>
                <thead>
                    <tr>
                        <th>Diák neve</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<students.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/teacher/test/result/<%= scheduledTestID %>/<%= students[i].user_id %>"><%= students[i].user_name %></a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <div style="margin-top: 50px;">  
            <canvas id="chart2" style="width: 800px; height: 400px"></canvas>
        </div>
    </div>
</div>

<div id="data" style="display: none;">
    <% for(let i=0; i<data.length; i++) { %>
        <div name="dataContainer" x="<%= data[i].x %>" y="<%= data[i].y %>"></div>
    <% } %>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    //let xyValues = [];
    let xValues = []; let yValues = [];
    let dataContainers = document.getElementsByName("dataContainer");
    for(container of dataContainers){
        xValues.push(Number(container.getAttribute("x")));
        yValues.push(Number(container.getAttribute("y")));
        //const obj = {x: Number(container.getAttribute("x")), y: Number(container.getAttribute("y"))};
        //xyValues.push(obj);
    }

    const ctx2 = document.getElementById('chart2');
    new Chart(ctx2, {
    type: "bar",
    data: {
            labels: xValues,
            datasets: [{
            label: 'diákok száma',
            pointRadius: 4,
            backgroundColor: "rgb(0, 255, 0, 0.75)",
            data: yValues
            }]
        },
        options: {
        scales: {
          y: {
            ticks: {
              stepSize: 1,
              beginAtZero: true
            }
          }
        }
      }
    });

    const ctx = document.getElementById('chart');
    const result = Number(document.getElementById("result").textContent);
    const compl = 100 - result;

    const data = {
    labels: [
        'helyes válasz',
        'rossz válasz',
    ],
    datasets: [{
        data: [result, compl],
        backgroundColor: [
        'rgb(0, 255, 0)',
        'rgb(255, 0, 0)'
        ],
        hoverOffset: 4
    }]
    };

    new Chart(ctx, {
        type: 'doughnut',
        data: data,
    });
</script>