<form method="GET" action="/learn/exercise/<%= lessonID %>/<%= exercisePos %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <!-- exercise's text -->
        <div>
            <div style="font-weight: bold;">
                <p><%= exercise.exercise_text %></p>
                <p>Eredmény: <%= correctAnswers %> / <%= checkedCorrectAnswers %> </p>
            </div>
            <div>
            <% if(exercise.image_object){ %>
            <div style="text-align: center;">
            <img src="data:image/jpeg;base64, <%= exercise.image_object.toString('base64') %>" alt="<%= exercise.image_text %>">
            </div>
            <% } %>
        </div>
        <!-- answers -->
        <div style="display: flex; flex-direction: row;">
            <% for(let i=0; i<answers.length; i++){ %>
            <div style= "border: solid gray 1px;  background-color: white;"  >
                <input type="checkbox" class="answer"
                <% if(answers[i].checked) { %>
                    checked
                <% } %>
                 disabled flag="<%= answers[i].answer_flag %>">
                <div>
                <img src="data:image/jpeg;base64, <%= answers[i].image_object.toString('base64') %>" alt="<%= answers[i].image_text %>">
                </div>
            </div>
            <% } %>
        </div>
        <div>
            <input type="submit" value="Next" id="nextButton">
        </div>
    </div>
</form>

<script>
    const nextButton=document.getElementById("nextButton");
    function colour(){
        let answers=document.getElementsByClassName("answer");
        for(let i=0; i<answers.length; i++){
            let parentDiv = answers[i].closest('div');
            if(answers[i].checked){
                if(answers[i].getAttribute("flag")==1){
                    parentDiv.style.border="5px solid green";
                }
                else{
                    parentDiv.style.border="5px solid red";
                }
            }
            else{
                if(answers[i].getAttribute("flag")==1){
                    parentDiv.style.border="5px solid yellow";
                }
            }
        }
    }
    window.onload = colour;

</script>