<div class="soundContainer" style="display: none;">
    <audio controls="" id="correct">
    <source src="/learn/sound/correct.wav" type="audio/wav">
    </audio>

    <audio controls="" id="incomplete">
    <source src="/learn/sound/incomplete.wav" type="audio/wav">
    </audio> 

    <audio controls="" id="wrong">
    <source src="/learn/sound/wrong.mp3" type="audio/mpeg">
    </audio> 
</div>

<form method="GET" action="/learn/exercise/<%= lessonID %>/<%= exercisePos %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <!-- exercise's text -->
        <div>
            <div style="font-weight: bold;">
                <p><%= exercise.exercise_text %></p>
                <p>Eredmény: <%= correctAnswers %> / <%= points %> </p>
                <button id="displayButton">Mutasd meg a válaszokat!</button>
            </div>
            <div>
            
        </div>
        <!-- answers -->
        <div style="display: flex; flex-direction: row;">
            <% for(let i=0; i<answers.length; i++){ %>
            <div style= "margin-left: 20px; border: solid gray 1px;  background-color: lightcyan;"  >
                <input type="radio" class="answer"
                <% if(answers[i].checked) { %>
                    checked
                <% } %>
                 disabled flag="<%= answers[i].answer_flag %>">
                <div>
                <img style="width: 180px; height: 130px;" src="data:image/jpeg;base64, <%= answers[i].image_object.toString('base64') %>" alt="<%= answers[i].image_text %>">
                </div>
            </div>
            <% } %>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 30px;">
            <div>
                <input type="submit" value="Következő" id="nextButton" style="display: none;">
            </div>
        </div>
    </div>
</form>

<script>
    const correct = document.getElementById("correct");
    const incomplete = document.getElementById("incomplete");
    const wrong = document.getElementById("wrong");
    const displayButton = document.getElementById("displayButton");
    const nextButton=document.getElementById("nextButton");

    function colour(){
        let answers=document.getElementsByClassName("answer");
        let delay = 1000;
        for(let i=0; i<answers.length; i++){
            setTimeout(()=>{
                
            let parentDiv = answers[i].closest('div');
            if(answers[i].checked){
                if(answers[i].getAttribute("flag")==1){
                    parentDiv.style.border="5px solid green";
                    correct.play();
                }
                else{
                    parentDiv.style.border="5px solid red";
                    wrong.play();
                }
            }
            else{
                if(answers[i].getAttribute("flag")==1){
                    parentDiv.style.border="5px solid yellow";
                    incomplete.play();
                }
            }
            }, delay);
            delay+=1000;
        }
    }

    displayButton.addEventListener('click', function(e){
        e.preventDefault();
        e.target.setAttribute("disabled", "true");
        colour();
        nextButton.style.display="block";
    })
</script>