<form method="POST" action="/learn/exercise/<%= lessonID %>/<%= exercisePos %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <!-- exercise's text -->
        <div>
            <div>
                <p style="font-weight: bold;"><%= exercise.exercise_text %></p>
                <p id="direction" style="display: none;"><%= exercise.exercise_direction %></p>
            </div>
            <div>
            <% if(exercise.image_object){ %>
            <div style="text-align: center;">
            <img src="data:image/jpeg;base64, <%= exercise.image_object.toString('base64') %>" alt="<%= exercise.image_text %>">
            </div>
            <% } %>
        </div>
        <!-- answers -->
        <div id="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div id="first" style="display: flex; flex-direction: row;">
                <% for(let i=0; i<answers.length; i++){ %>
                <div class="initialContainer"  style="border: solid gray 1px; background-color: white; width: 100px; height: 100px;">
                    <div class = "item" draggable="true" value="<%= answers[i].answer_id %>">
                    <img src="data:image/jpeg;base64, <%= answers[i].image_object.toString('base64') %>" alt="<%= answers[i].image_text %>" style="width: 100px; height: 100px;">
                    </div>
                </div>
                <% } %>
            </div>
            <div id="second" style="display: flex; flex-direction: row; margin-top: 20px;">
                <% for(let i=0; i<answers.length; i++){ %>
                <div class="finalContainer" style="border: solid gray 1px; background-color: white; width: 100px; height: 100px;">
                </div>
                <% } %>
            </div>
        </div>

        <div>
            <input id="numbersField" type="text" name="answer" style="display: none;">
            <button id="checkButton">Check</button>
        </div>
    </div>
</form>

<script>
    const items = document.getElementsByClassName("item");
    const initialContainers = document.getElementsByClassName("initialContainer");
    const finalContainers = document.getElementsByClassName("finalContainer");
    const button = document.getElementById("checkButton");

    for(item of items){
        item.addEventListener("dragstart", function(e){
            let selected = e.target.closest('.item');
            console.log(selected);

            for(initial of initialContainers){
                initial.addEventListener("dragover",function(e){
                    e.preventDefault();
                });
                initial.addEventListener("drop",function(e){
                    let targetContainer = e.target.closest(".initialContainer");
                    let hasItem = targetContainer.querySelectorAll("div");
                    console.log(hasItem);

                    if (targetContainer && hasItem.length==0) {
                        console.log("append1");
                        console.log(selected);
                        targetContainer.appendChild(selected);
                        selected = null;
                    }
                });
            }

            for(final of finalContainers){
                final.addEventListener("dragover",function(e){
                    e.preventDefault();
                });
                final.addEventListener("drop",function(e){
                    let targetContainer = e.target.closest(".finalContainer");
                    let hasItem = targetContainer.querySelectorAll("div");
                    console.log(hasItem);

                    if (targetContainer && hasItem.length==0) {
                        console.log("append2");
                        console.log(selected);
                        targetContainer.appendChild(selected);
                        selected = null;
                    }
                });
            }
        });
    }

    button.addEventListener('click',function(e){
        let numbers="";
        e.preventDefault();
        const finalContainers = document.getElementsByClassName("finalContainer");
        for(final of finalContainers){
            const hasItem = final.querySelectorAll("div");
            if(hasItem.length==0){
                alert("!");
                break;
            }
            const item = hasItem[0];
            numbers=numbers+item.getAttribute("value")+" ";
            console.log(numbers);
        }
        let numbersField = document.getElementById("numbersField");
        numbersField.setAttribute("value",numbers);
        console.log(numbersField.getAttribute("value"));
        const form = e.target.closest("form");
        form.submit();
    })

    const firstDiv=document.getElementById("first");
    const secondDiv=document.getElementById("second");
    const direction=document.getElementById("direction");
    const container=document.getElementById("container");

    if(direction.textContent == "vertical"){
        firstDiv.style.flexDirection = "column";
        secondDiv.style.flexDirection = "column";
        secondDiv.style.marginTop = "0px";
        secondDiv.style.marginLeft = "70px";
        container.style.flexDirection="";
    }
</script>