<form method="POST" action="/learn/exercise/<%= lessonID %>/<%= exercisePos %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <!-- exercise's text -->
        <div>
            <div>
                <p style="font-weight: bold;"><%= exercise.exercise_text %></p>
            </div>
            <div>
            
        </div>
        <!-- answers -->
        <div style="display: flex; flex-direction: row;">
            <% for(let i=0; i<answers.length; i++){ %>
            <div style="margin-left: 20px; border: solid gray 1px; background-color: lightcyan;">
                <input type="radio" name="answer" value="<%= answers[i].answer_id %>">
                <div>
                <img style="width: 180px; height: 130px;" src="data:image/jpeg;base64, <%= answers[i].image_object.toString('base64') %>" alt="<%= answers[i].image_text %>">
                </div>
            </div>
            <% } %>
        </div>
        <div>
            <button id="checkButton">Check</button>
        </div>
    </div>
</form>