<form method="POST" action="/teacher/exercises">
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
    <div>
        <select name="type">
        <% for(let i=0; i<types.length; i++) { %>
            <option value="<%= types[i].type %>">
            <% switch(types[i].type) { case 'radio': %>
                Egy helyes válasz
                <% break; case 'check': %>
                Több helyes válasz
                <% break; case 'ordering': %>
                Sorrendbe helyezés
                <% break; case 'grouping': %>
                Csoportosítás
                <% break; %>
                
            <% } %>
            </option>
        <% } %>
        </select>
    </div>
    <div> 
        <button>Keres</button>
    </div>
    </div>

    <div>
        <% for(let i=0; i<exercises.length; i++) { %>
            <div style="border: solid 2px cadetblue; margin-bottom: 10px; width: 1000px; padding: 10px;">
                <input type="checkbox" name="exercise" value="<%= exercises[i].exercise_id %>">
                <p><%= exercises[i].exercise_text %></p>
                <p>
                    <% switch(exercises[i].exercise_type) { case 'radio': %>
                        Egy helyes válasz
                        <% break; case 'check': %>
                        Több helyes válasz
                        <% break; case 'ordering': %>
                        Sorrendbe helyezés
                        <% break; case 'grouping': %>
                        Csoportosítás
                        <% break; %>    
                    <% } %>
                </p>
                <% if(exercises[i].exercise_type=='grouping'){ %>
                    <p>Csoportok: 
                    <% for(let j=0; j<exercises[i].answers.groups.length; j++) { %>
                        <%= exercises[i].answers.groups[j].group_name %>
                    <% } %>
                    </p>
                    <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                    <% for(let j=0; j<exercises[i].answers.items.length; j++) { %>
                        <div style="border: solid gray 1px; background-color: white; width: 100px; height: 80px;">
                            <div>
                            <img src="data:image/jpeg;base64, <%= exercises[i].answers.items[j].image_object.toString('base64') %>" style="width: 100px; height: 80px;">
                            </div>
                        </div>
                    <% } %>
                    </div>
                <% } else {  %>
                    <div class="container" orientation="<%= exercises[i].exercise_direction %>" style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                    <% for(let j=0; j<exercises[i].answers.length; j++) { %>
                        <div style="border: solid gray 1px; background-color: white; width: 100px; height: 80px;">
                            <div>
                            <img src="data:image/jpeg;base64, <%= exercises[i].answers[j].image_object.toString('base64') %>" style="width: 100px; height: 80px;">
                            </div>
                        </div>
                    <% } %>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>

</div>
</form>

<script>
    let containers = document.getElementsByClassName("container");
    console.log(containers);
    for(let i=0; i<containers.length; i++){
        if(containers[i].getAttribute("orientation")=="vertical"){
            containers[i].style.flexDirection="column";
        }
    }
</script>