<form method="post" action="/teacher/createExercise/<%= testID %>/<%= type %>">
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <h2>Új feladat hozzáadása</h2>
        </div>
        <div>
            <h4>A feladat szövege:</h4>
            <input type="text" name="exerciseText" style="width: 300px">
        </div>
        <div>
            <% if(type == 'check') { %>
                <h4>Jelöld be a helyes válaszokat!</h4>
            <% } else { %>
                <h4>Jelöld be a helyes választ!</h4>
            <% } %>
        </div>
        <div style="display: flex; flex-direction: row;">
            <% for(let i=0; i<images.length; i++){ %>
            <div style="margin-left: 20px; border: solid gray 1px; background-color: lightcyan;">
                <input
                <% if(type == 'check') { %>
                type="checkbox"
                <% } else { %>
                type="radio"
                <% } %>
                name="correctAnswer" value="<%= images[i].image_id %>">
                <input name="answer" type="text" style="display: none;" value="<%= images[i].image_id %>">
                <div>
                <img style="width: 180px; height: 130px;" src="data:image/jpeg;base64, <%= images[i].image_object.toString('base64') %>">
                </div>
            </div>
            <% } %>
        </div>
        <div style="margin-top: 20px;">
            <button>Hozzáad</button>
        </div>
    </div>
</form>