
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div>
            <h2>A <%= testName %> nevű feladatsor</h2>
        </div>
        <div>
            <% if(editable) { %>
                <h5>(módosítható)</h5>
                <p id = "testLength" style="display: none;"><%= exercises.length %></p>
            <% } else { %>
                <h5>(nem módosítható)</h5>
            <% } %>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">

            <% if(editable) { %>
                <div>
                <a href="/teacher/exercises/<%= testID %>">Létező feladat hozzáadása</a>
                </div>
                <div style="margin-left: 20px;">
                    <a href="/teacher/addNewExercise/<%= testID %>">Új feladat hozzáadása</a>
                </div>
                <div style="margin-left: 75px;">
                    <a href="/teacher/saveTest/<%= testID %>" id="saveLink">Feladatsor véglegesítése</a>
                </div>
            <% } else { %>
                <div style="margin-left: 20px;">
                    <a href="/teacher/scheduledTests/<%= testID %>">Feladatsor ütemezése</a>
                </div>
            <% } %>
            
        </div>
        <div>
            <% for(let i=0; i<exercises.length; i++) { %>
                <div style="border: solid 2px cadetblue; margin-bottom: 10px; width: 1000px; padding: 10px;">
                    <p><span style="font-weight: bold;">Feladat leírása: </span><%= exercises[i].exercise_text %></p>
                    <p><span style="font-weight: bold;">Típusa: </span>
                        <% switch(exercises[i].exercise_type) { case 'radio': %>
                            Egy helyes válasz
                            <% break; case 'check': %>
                            Több helyes válasz
                            <% break; case 'ordering': %>
                            Sorrendbe helyezés
                            <% break; case 'grouping': %>
                            Csoportosítás
                            <% break; %>    
                        <% } %>
                    </p>
                    <% if(exercises[i].exercise_type=='grouping'){ %>
                        <p><span style="font-weight: bold;">Csoportok: </span>
                        <% for(let j=0; j<exercises[i].answers.groups.length; j++) { %>
                            <span><%= exercises[i].answers.groups[j].group_name %>&emsp;</span>
                        <% } %>
                        </p>
                        <div style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                        <% for(let j=0; j<exercises[i].answers.items.length; j++) { %>
                            <div style="border: solid gray 1px; background-color: white; width: 100px; height: 80px;">
                                <div>
                                <img src="data:image/jpeg;base64, <%= exercises[i].answers.items[j].image_object.toString('base64') %>" style="width: 100px; height: 80px;">
                                </div>
                            </div>
                        <% } %>
                        </div>
                    <% } else {  %>
                        <div class="container" orientation="<%= exercises[i].exercise_direction %>" style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                        <% for(let j=0; j<exercises[i].answers.length; j++) { %>
                            <div style="border: solid gray 1px; background-color: white; width: 100px; height: 80px;">
                                <div>
                                <img src="data:image/jpeg;base64, <%= exercises[i].answers[j].image_object.toString('base64') %>" style="width: 100px; height: 80px;">
                                </div>
                            </div>
                        <% } %>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    
    </div>
    
<script>
        const saveLink = document.getElementById("saveLink");
        let containers = document.getElementsByClassName("container");
        for(let i=0; i<containers.length; i++){
            if(containers[i].getAttribute("orientation")=="vertical"){
                containers[i].style.flexDirection="column";
            }
        }

        saveLink.addEventListener('click', function(e){
            const numOfExercises = document.getElementById("testLength").innerHTML;
            console.log(numOfExercises);
            if(Number(numOfExercises) > 0){
                confirmation = confirm("Biztosan menteni szeretné? A feladatsor a mentés után már nem lesz módosítható!");
                if (!confirmation) {
                    event.preventDefault();
                }
            }
            else{
                alert("A teszt egyetlen feladatot sem tartalmaz!");
                event.preventDefault();
            }
        });
</script>