<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <div>
        <h3><%= scheduled.test_name %> nevű feladatsor</h3>
    </div>

    <div>
        Megoldható eddig: <%= scheduled.end_time %>
    </div>

    <div>
        <% if(isSolvable) { %>
            <a href="/learn/test/<%= scheduled.scheduled_tests_id %>/<%= exerciseID %>">Feladatsor megoldása</a>
        <% } else { %>
            <a href="/learn/test/results/<%= scheduled.scheduled_tests_id %>/<%= userID %>">Eredmény megtekintése</a>
        <% } %>
    </div>
</div>